# Node modules
node_modules/

# Vite cache
.vite/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Optional: OS files
Thumbs.db
